/*!
Version: 3.0.0
Author: Ankit Hingarajiya - DeskApp
*/

.select2-container{
    display: block;
    width: 100%;
    /* padding: 0.4375rem 1.875rem 0.4375rem 0.875rem; */
    -moz-padding-start: calc(0.875rem - 3px);
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.53;
    color: #697a8d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 0.875rem center;
    background-size: 17px 12px;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .select2-container--default .select2-selection--single {
    border: none!important;
  }

  .select2-container .select2-selection--single{
    height: 40px!important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px!important;
  }